
html, body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

.titulo{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}
.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}
#computadora-cartas, #jugador-cartas{
    height: 240px;
}
#jugador-cartas .perdiste {
    position: absolute;
    background-color: black;
    top: 180px;
    left: 250px;
    text-align: center;
    display: none;
    z-index: 1;
    border-radius: 15px;
}
#jugador-cartas .ganaste{
    position: absolute;
    background-color: black;
    top: 180px;
    left: 250px;
    text-align: center;
    display: none;
    z-index: 1;
    border-radius: 15px;
}

.mensajeInicio{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    position: absolute;
    left: 600px;
    top: 110px;

}
.mensajeInicio img{
    width: 215px;
    height: 125px;
    transform: rotate(180deg);
}
.mensajeInicio p{
    color: black;
    position: absolute;
    bottom: 35px;
    left: 28px;
    text-align: center;

}
#btn-detener:hover{
    transform: scale(1.1);

}
#btn-pedir:hover{
        transform: scale(1.1);

}

@media (max-width: 480px) {
    
.mensajeInicio{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    position: absolute;
    left: 220px;
    top: 115px;

}
.mensajeInicio img{
    width: 160px;
    height: auto;
    transform: rotate(180deg);
}
.mensajeInicio p{
    width: 100px;
    font-size: 14px;
    color: black;
    position: absolute;
    bottom: 35px;
    left: 43px;
    text-align: center;

}
#jugador-cartas .perdiste {
    position: absolute;
    background-color: black;
    top: 180px;
    left: 60px;
    text-align: center;
    display: none;
    z-index: 1;
    border-radius: 15px;
}
#jugador-cartas .ganaste{
    position: absolute;
    background-color: black;
    top: 180px;
    left: 60px;
    text-align: center;
    display: none;
    z-index: 1;
    border-radius: 15px;
}
.carta{
    width: 110px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

}

    